{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{Movie.img.url}}" width="300" height=300">

        </div>
<div class="col-md-6">
   <h6> {{Movie.name}}</h6>
    <h4>{{Movie.desc}}</h4>
    <h6>{{Movie.year}}</h6>
    <a class= "btn btn-warning" href="{% url 'movieapp:update' Movie.id %}">update</a>
    <a class= "btn btn-danger" href="{% url 'movieapp:delete' Movie.id %}">delete</a>
</div>


    </div>
</div>
{% endblock %}
